atomicwrites      # via pytest
attrs            # via pytest
certifi       # via requests
chardet           # via requests
idna                 # via requests
importlib-metadata # via pluggy, pytest
more-itertools    # via pytest, zipp
packaging          # via pytest
pathlib2           # via pytest
pluggy          # via pytest
py              # via pytest
pyaes           # via telethon
pyasn1           # via rsa
pyparsing         # via packaging
pytest
requests
rsa            # via telethon
six              # via packaging, pathlib2
telethon
urllib3    # via requests
wcwidth          # via pytest
zipp